/AmbientLightManager.class
/BeepManager.class
/CaptureActivity.class
/CaptureActivityHandler$State.class
/CaptureActivityHandler.class
/Contents$Type.class
/Contents.class
/DecodeFormatManager.class
/DecodeHandler.class
/DecodeHintManager.class
/DecodeThread.class
/FinishListener.class
/HelpActivity.class
/HttpHelper$ContentType.class
/HttpHelper.class
/InactivityTimer$InactivityAsyncTask.class
/InactivityTimer$PowerStatusReceiver.class
/InactivityTimer.class
/IntentSource.class
/Intents$Encode.class
/Intents$History.class
/Intents$Scan.class
/Intents$SearchBookContents.class
/Intents$Share.class
/Intents$WifiConnect.class
/Intents.class
/LocaleManager.class
/PreferencesActivity.class
/PreferencesFragment$CustomSearchURLValidator.class
/PreferencesFragment.class
/ScanFromWebPageManager.class
/ViewfinderResultPointCallback.class
/ViewfinderView.class
