/ContactEncoder.class
/EncodeActivity.class
/Formatter.class
/MECARDContactEncoder$MECARDFieldFormatter.class
/MECARDContactEncoder$MECARDNameDisplayFormatter.class
/MECARDContactEncoder$MECARDTelDisplayFormatter.class
/MECARDContactEncoder.class
/QRCodeEncoder.class
/VCardContactEncoder.class
/VCardFieldFormatter.class
/VCardTelDisplayFormatter.class
