/AlignmentPattern.class
/AlignmentPatternFinder.class
/Detector.class
/FinderPattern.class
/FinderPatternFinder$CenterComparator.class
/FinderPatternFinder$FurthestFromAverageComparator.class
/FinderPatternFinder.class
/FinderPatternInfo.class
