/BarcodeMetadata.class
/BarcodeValue.class
/BitMatrixParser.class
/BoundingBox.class
/Codeword.class
/DecodedBitStreamParser$Mode.class
/DecodedBitStreamParser.class
/Decoder.class
/DetectionResult.class
/DetectionResultColumn.class
/DetectionResultRowIndicatorColumn.class
/PDF417CodewordDecoder.class
/PDF417ScanningDecoder.class
