/BitArray.class
/BitMatrix.class
/BitSource.class
/CharacterSetECI.class
/DecoderResult.class
/DefaultGridSampler.class
/DetectorResult.class
/GlobalHistogramBinarizer.class
/GridSampler.class
/HybridBinarizer.class
/PerspectiveTransform.class
/StringUtils.class
