/BarcodeFormat.class
/Binarizer.class
/BinaryBitmap.class
/ChecksumException.class
/DecodeHintType.class
/Dimension.class
/EncodeHintType.class
/FakeR.class
/FormatException.class
/InvertedLuminanceSource.class
/LuminanceSource.class
/MultiFormatReader.class
/MultiFormatWriter.class
/NotFoundException.class
/PlanarYUVLuminanceSource.class
/RGBLuminanceSource.class
/Reader.class
/ReaderException.class
/Result.class
/ResultMetadataType.class
/ResultPoint.class
/ResultPointCallback.class
/Writer.class
/WriterException.class
